#stepsId{
  background: url("https://img.freepik.com/free-photo/joystick-gaming-controller-isolated-blue-background_39665-102.jpg?size=626&ext=jpg") no-repeat center center fixed;
  background-repeat:no-repeat;
  background-size: cover;
  height:600px;
}